<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924472688763-ffebis51ihb7ir1dql5u0k9v7k72on3h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924472688763-ffebis51ihb7ir1dql5u0k9v7k72on3h</string>
	<key>API_KEY</key>
	<string>AIzaSyDebhuGHJMaZk4GQUTdikcS9lh4nTih7mA</string>
	<key>GCM_SENDER_ID</key>
	<string>924472688763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skolaoffline</string>
	<key>PROJECT_ID</key>
	<string>school-app-260e3</string>
	<key>STORAGE_BUCKET</key>
	<string>school-app-260e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924472688763:ios:4c59f532a41d4fb84ae2de</string>
	<key>DATABASE_URL</key>
	<string>https://school-app-260e3.firebaseio.com</string>
</dict>
</plist>